@using HelpDesk.BLL
@model HelpDesk.Model.ViewModels.FaultViewModels.FaultViewModels
@using HelpDesk.Model.Enums.FaultEnums
@inject MembershipTools membership
@{
    ViewData["Title"] = "TechnicianFaultReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section top{
    <link href="~/assets/css/lightbox.min.css" rel="stylesheet" />
}
<h2 class="text-center">Teknisyen Arıza Kontrol Raporu</h2>
<div class="col-md-8">
    <div class="card">
        <div class="card-block tab-content">
            <div class="tab-pane fade active in" id="profile-tab1">
                <form asp-controller="Technician" asp-action="TechnicianFaultConfirm" method="post">



                    var data = MembershipTools.GetMusteri(Model.MusteriId);

                    @Html.HiddenFor(x => x.FaultId)
                    @Html.HiddenFor(x => x.CustomerId)
                    @Html.HiddenFor(x => x.Email)
                    @Html.HiddenFor(x => x.OperatorId)
                    <h4 class="m-t-sm m-b">Arıza Kontrol Bildiri</h4>
                    <div class="form-group row">
                        <div class="col-xs-6">
                            <label for="Name">Müşterinin Adı</label>
                            <input type="text" for="data.Name" class="form-control" placeholder="İsim giriniz" />
                        </div>
                        <div class="col-xs-6">
                            <label for="Surname">Müşterinin Soyadı</label>
                            <input type="text" for="Surname" class="form-control" placeholder="Soyisim giriniz" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-6">
                            <label for="Email">Müşterinin Maili</label>
                            <input type="text" for="Email" class="form-control" placeholder="Mail giriniz" />
                        </div>
                        <div class="col-xs-6">
                            <label asp-for="PhoneNumber">Telefon</label>
                            <input type="text" asp-for="PhoneNumber" class="form-control" placeholder="Telefon numarası giriniz" />
                        </div>
                    </div>

                    @if (Model.TechnicianFailureCondition != TechnicianFailureStatus.Solved)
                    {
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <label asp-for="TechnicianFailureCondition">Fault State</label>                           
                        </div>
                        @*BURAYI NASIL YAPACAĞIMI BULAMADIM...*@
                        @*<div class="col-xs-12">
                            @Html.EnumDropDownListFor(x => x.TeknisyenArizaDurum, "Arızanın Son Durumu", new { @class = "form-control", size = "1" })<select asp-for="TechnicianFailureCondition" asp-items=""></select>                          
                        </div>*@
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label asp-for="TechnicialFaultDescription">Ariza Açıklması</label>
                            <input type="text" asp-for="TechnicialFaultDescription" class="form-control" placeholder="Lütfen arıza açıklması giriniz" />                         
                        </div>
                    </div>
                    }
                    else
                    {
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <label asp-for="TechnicianFailureCondition">Teknisyen Arıza Durumu</label>                          
                        </div>
                        @*<div class="col-xs-12">
                            @Html.EnumDropDownListFor(x => x.TeknisyenArizaDurum, "Arızanın Son Durumu", new { @class = "form-control", @readonly = "readonly", size = "1" })
                        </div>*@
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label asp-for="TechnicialFaultDescription">Ariza Açıklması</label>
                            <input type="text" asp-for="TechnicialFaultDescription" class="form-control" placeholder="Lütfen arıza açıklması giriniz" />
                        </div>
                    </div>
                    }
                    <div class="form-group row">
                        <div class="col-xs-6">
                            <label asp-for="PostedFileFault">Arıza Resmi</label>
                            <input type="file" asp-for="PostedFileFault" class="form-control" multiple="true" placeholder="ADRESSSs" />
                            <div class="col-xs-6">
                                <label asp-for="PostedFileFatura">Arıza Resmi</label>
                                <input type="file" asp-for="PostedFileFatura" class="form-control" placeholder="ADRESSSs" />
                            </div>

                    <div class="row narrow-gutter">
                        @if (Model.TechnicianFailureCondition != TechnicianFailureStatus.Solved)
                        {
                            <div class="col-xs-12">
                                <div class="col-md-12">
                                    <button class="btn btn-app-purple btn-block" type="submit">Arıza Kontrol Raporu Gönder</button>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row narrow-gutter">
                                <div class="col-md-12">
                                    <span class="icon-alert"> Bu Kayıt Çözülmüştür. Sadece Detayları Görebilirsiniz. </span>
                                </div>
                            </div>
                        }
                    </div>

                </form>
            </div>
            <!-- End profile tab 1 -->
        </div>
        <!-- .card-block .tab-content -->
    </div>
    <!-- .card -->
</div>
@*<div class="col-md-4">
    <div class="panel">
        <div class="panel-heading">



            <h3 class="panel-title">Olaylar</h3><h3></h3>
        </div><br />
        <div class="panel-body">
            <div class="timeline">
                <!-- Timeline header -->
                <div class="timeline-header">
                    <div class="timeline-header-title bg-info">Şimdi</div>
                </div>
                @foreach (ArizaLOG log in Model.ArizaLogs)
                {
                    <div class="timeline-entry">
                        <div class="timeline-stat">
                            @switch (log.YapanınRolu)
                            {
                                case IdentityRoles.Operator:
                                    <div class="timeline-icon bg-success"><i class="fa fa-clipboard fa-lg"></i> </div>
                                    break;
                                case IdentityRoles.Musteri:
                                    <div class="timeline-icon bg-info"><i class="fa fa-check fa-lg"></i> </div>
                                    break;
                                case IdentityRoles.Teknisyen:
                                    <div class="timeline-icon bg-warning"><i class="fa fa-briefcase fa-lg"></i> </div>
                                    break;
                                default:
                                    <div class="timeline-icon bg-purple"><i class="fa fa-check fa-lg"></i> </div>
                                    break;
                            }
                        </div>
                        <div class="timeline-label">
                            @log.CreatedDate
                            <h3>@log.Aciklama</h3>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!--===================================================-->
        <!-- End Striped Table -->
    </div>
</div>*@

@section bottom{
    <script src="~/assets/js/lightbox-plus-jquery.min.js"></script>
    <script src="~/assets/js/lightbox.js"></script>
}
