@using System.Net.Http
@using HelpDesk.BLL
@using Microsoft.AspNetCore.Http
@inject MembershipTools membership

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
    var user = membership.GetCurrentUser(User);
    if (user != null)
    {
        Console.WriteLine();
    }
    var user2 = membership.GetUserWithId(user.Result.Id);

}

<p> @user.Result.Name</p>

<p> @user.Result.Name</p>
<p> @user.Result.Name</p>
<p> @user.Result.Name</p><p> @user.Result.Name</p><p> @user.Result.Surname</p>

<p>@user2.Result.Email</p>